
        .card1-footer {
            padding: 15px 20px;
            background-color: var(--light-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--dark-color);
        }

         @media (max-width: 768px) {
            .gallery {
                grid-template-columns: repeat(2, 1fr);
            }
            
            .card1-header h3 {
                font-size: 1.2rem;
            }
        }

        @media (max-width: 480px) {
            .gallery {
                grid-template-columns: 1fr;
            }
        }

footer a:hover {
  text-decoration: none;
 
}
footer h5 {
  font-weight: bold;
}
