
html, body {
  position: relative;
  z-index: 0;
}

body {
  margin:0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e8dfd8, #f6f3ef);
  position: relative;
  
}
.container {
  position: relative;
   display: flex;
  justify-content: center;
  align-items: center;
}
.success-card{
  background-color: #ffffff;
  margin: 1rem;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 480px;
  align-items: center;
}

 .check-icon {
        font-size: 80px;
        color: #0c9565;
        border: 5px solid #0c9565;
        border-radius: 50%;
        width: 120px;
       
        padding: 2px ;
    }
.success-card h3{
        font-weight: bold;
        color: #FFD700;
        text-shadow: #151202 1px 1px 1px;
        font-size: 35px;
    }
.whats-next {
    margin: 25px 0;
    padding: 10px 20px;
    background: #f8f8f6;
    border-radius: 12px;
    text-align: left;
   border-top: 1px dashed #ddd;
}

.whats-next h4 {
    margin-bottom: 10px;
    color: #2e7d32;
    font-size: 18px;
}

.whats-next ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.whats-next ul li {
    margin-bottom: 8px;
    font-size: 14.5px;
    color: #444;
}


.btn-success{
  
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
    }
.btn-success:hover {
    background: linear-gradient(to right, #d4af37, #3e7b63);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }

.view{
  background-color: #1e3d34;      
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;

    }
 .view:hover {
    background-color: #FFD700; /* golden on hover */
  color: #1b5e20; /* text turns green */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    }

