body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
background: linear-gradient(to right, #f6f3ef);

}
.container-fluid{
		filter:brightness(1.01);
}
h2{
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
}

 table {
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-left: auto;
    border-radius: 8px;
    overflow: hidden;
}

.custom-table th, .custom-table td {
  padding: 10px;

}
.custom-table thead th{
	font-family: 'Playfair Display', serif;
  background-color: #2f5c4c;
    color: #ebecf3;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.custom-table td {
  background-color: #f9f9f9;
  font-family:serif;
  font-size:20px;
}

 a.btn {
  background-color: #2f5d4c;
  font-family: 'Playfair Display', serif;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
a.btn:hover {
  background: linear-gradient(to right, #d4af37, #3e7b63);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);

} 
