
h2{
	
	color:#2f5d4c;
    text-shadow:1px 1px 2px  grey;
    font-family: 'Playfair Display', serif;
}
.category-filter {
            border-right: 1px solid #dee2e6;
            padding: 15px;
         /*    height:700px;
            border:2px solid black; */
            
        }
        @media (max-width: 767.98px) {
            .category-filter {
                border-right: none;
                border-bottom: 1px solid #dee2e6;
            }
        }

  .form-check-input{
    color: #495057;
    border: 1px solid  #2f5c4c;
    border-radius: 5px;
        }
.form-check-input:checked {
    background-color: #2f5c4c;
    border-color: #2f5c4c;
  
}

 .form-select {
    color: #495057;
    border: 1px solid  #2f5c4c;
    border-radius: 5px;
    padding: 5px 10px;
}


 .card{
 	font-family: serif;
 	
     background-color: ivory;
     box-shadow: 2px 3px 3px  black;
     border: 1px solid black;
     /* width: 300px;  */
     border-radius: 5%;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     display: flex;
    flex-direction: column;
  /* justify-content: space-between; */



 }
.card:not(:hover){
    box-shadow: 2px 2px 4px black;
  transform:scale(0.9);
    transition: 4s ease;
}
.card:hover{
    box-shadow: 3px 3px  5px black;
   
    
}
.card-body {
  display: flex;
  flex-direction: column;


  padding: 15px;
  text-align: center;
 
}


.card-body h6:first-child {
  min-height: 40px;
}
.card-text {
 align-items: center;
  line-height: 1.6;
  font-size: 0.95rem;
  /* padding: 10px; */
}

 .image-container {
    
    height: 330px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.product-img {
    height: 200px;
    width: 100%;
    object-fit:cover;
    object-position:center;
    background: #f8f8f8;
    padding: 10px;
    flex-shrink:0;
}
select.form-select{
	padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s ease;
}
select.form-select:focus{
  border-color:#2f5d4c;
  box-shadow: 0 0 6px rgba(212, 175, 55, 0.5);
  outline: none;
}
