   html, body {
  position: relative;
  z-index: 0;
}

   body{
     margin:0;
    padding: 0;
 	font-family: 'Playfair Display',serif;
    display: flex;
  	justify-content: center;
  	align-items: center;
   background: linear-gradient(to right, #e8dfd8, #f6f3ef);
  position: relative;
 
}


 .register-container {
        background-color: #ffffff;
        padding:10px;
        margin:15px;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        width: 450px;
        text-align: center;
        }

        .login-logo {
            width: 80px;
         
        }

        .header h2 {
            color: #2f5d4c;
            font-size: 28px;
            margin-bottom: 5px;
           
        }

        .header h2::after {
            content: "";
            display: block;
            margin: 8px auto 0;
            width: 100px;
            height: 3px;
            background: linear-gradient(to right, #d4af37, #2f5d4c);
            border-radius: 2px;
        }

        .header p {
            font-size: 15px;
            color: #555;
            margin-bottom: 30px;
        }

        /* Progress Bar */
        .progress-bar {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1.5rem;
            align-items: center;
        }

        .step {
            width: 30px;
            height: 30px;
            background: #ddd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .step.active {
            background: #2f5d4c;
            color: white;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
        }

        .line {
            width: 120px;
            height: 4px;
            background: #cbc4b8;
            border-radius: 5px;
            transition: background 0.4s ease;
        }

        .line.completed {
            background: #2f5d4c;
        }
        .step.completed {
            background: #2f5d4c;
            color:white;
        }

        /* Form Styles */
        .form-step {
            display: none;
        }

        .form-step.active {
            display: block;
        }

        .form-group {
            margin: 10px 20px;
        }

        form {
            display: flex;
            flex-direction: column;
           gap:8px;
           padding-bottom:10px;
        }
     
        input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
            width: 90%;
            margin: 6px 2px;
            padding: 12px 15px;
            font-size: 15px;
            border-radius: 10px;
            border: 1px solid #ccc;
            outline: none;
            transition: 0.3s ease;
            font-family: 'Playfair Display',serif;
        }

        input:focus {
            border-color: #2f5d4c;
            box-shadow: 0.5px 0 6px rgba(212, 175, 55, 0.5);
        }
label{
	font-size:17px;
}
        button {
        font-family: 'Playfair Display',serif;
            background-color: #2f5d4c;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s ease;
            
        }

        button:hover {
            background: linear-gradient(to right, #d4af37, #3e7b63);
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .links {
            margin-top: 10px;
            font-size: 17px;
            font-family: 'Playfair Display',serif;
            color:#2f5d4c;
        }

        .links a {
            color: #2f5d4c;
            text-decoration: none;
        }

        .links a:hover {
            text-decoration: underline;
            text-decoration-color: #FFD700;
        }

        @media (max-width: 600px) {
            .register-container {
                width: 90%;
                padding: 1rem;
            }
        }